html {
    background-color: whitesmoke;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: white;
    margin: 0;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 120px;
    background-color:white;
    text-align: center;
    border-bottom: 3px solid whitesmoke;
    /*display: inline-flex;
    justify-content: space-around;
    align-items: center;*/
    /*opacity: 0.99;*/
}   

header img {
    height: 130px;
    margin: 5px auto;
}

.burger {
    position: absolute;
    right: 5%;
    top: 20px;
    height: 60px;
}

header ul {
    position: absolute;
    top: -300px;
    right: 0px;
    color: black;
    list-style-type: none;
    background-color:lightgrey; 
    height:fit-content;
    width: 30%;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100;
    line-height: 50px;
    padding: 5px;
    opacity:0.0;
    transition: all 150ms ease-in 100ms;
}

header ul:hover {
    position: absolute;
    top: 0px;
    right: 0px;
    color: black;
    list-style-type: none;
    background-color:lightgrey; 
    height:fit-content;
    width: 30%;
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    .burger {
        display: none;
    }

    header ul {
        display: none;
    }
}



.home {
    padding-top: 125px;
    padding-bottom: 10px;
    position: relative;
    margin: auto;
    background-color:white;
    width: 100%;
    height:fit-content;
    overflow: scroll;
}

.line {
    /*margin: 0 10%;
    width: 80%;*/
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.oben {
    margin: 0 10%;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.unten {
    margin: 0 13%;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.boxwerkstatt {
    margin: auto;
    background-color: darkblue;
    width: 290px;
    height: 300px;
}

.boxtouren {
    margin: auto;
    background-color: red;
    width: 290px;
    height: 180px;
    text-align: center;
    padding: 0;
}

.boxmisc {
    margin: auto;
    background-color: gold;
    width: 250px;
    height: 230px;
}

.boxwandhalterung {
    margin: auto;
    background-color: darkred;
    width: 250px;
    height: 230px;
}

.boxbikes {
    margin: auto;
    background-color: green;
    width: 290px;
    height: 300px;
}

.boxelias {
    margin: auto;
    background-color: blue;
    width: 290px;
    height: 195px;
    text-align: center;
    padding: 0;
}


.boxwerkstatt a {
    display: block;
    font-weight: 100;
    font-size:100px;
    margin:0;
    text-transform: uppercase;
}

.boxtouren a {
    display: block;
    font-weight: 200;
    font-size: 30px;
    margin: 120px 0 0 0;
    text-transform: uppercase;
}

.boxmisc a {
    display: block;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 40px auto;
}

.boxwandhalterung a {
    display: block;
    font-weight:lighter;
    font-size: 40px;    
    text-align: center;
    margin: 50px auto;
    text-transform: uppercase;
}

.boxbikes a {
    display: block;
    font-weight: 100;
    font-size: 65px;
    margin: 150px 5px 0 0;
    text-align: end;
    text-transform: uppercase;
}

.boxelias a {
    display: block;
    font-weight:lighter;
    font-size: 20px;    
    text-align: center;
    margin: 70px auto;
    text-transform: uppercase;
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}       

a:visited {
    color: white;
    background-color: transparent;
  }
  
a:hover {
    color: blue;
    background-color: white;
}

header a:hover {
    background-color: transparent;
}
  
a:active {
    color: white;
    background-color: transparent;
}

@media only screen and (max-width: 800px) {

    .home {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin:0 5% 0 5%;
    }

    .line {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: column;
        margin: 5%;
    }

    .oben {
        width: 50%;
        justify-content: center;
        align-items: space-around;
    }
    
    .unten {
        width: 50%;
        justify-content: center;
        align-items: space-around;
    }

    .boxwerkstatt {
        margin: 5%;
        width: 80%;
        background-color: darkblue;
        height:fit-content;
    }
    
    .boxtouren {
        margin: 10%;
        background-color: red;
        text-align: center;
        height: fit-content;
    }
    
    .boxmisc {
        margin: 10%;
        background-color: gold;
        height: fit-content;
    }
    
    .boxwandhalterung {
        margin: 10% 5% 5% 5%;
        background-color: darkred;
        height: fit-content;
    }
    
    .boxbikes {
        margin: 10%;
        background-color: green;
        height: fit-content;
        width: 80%;
    }
    
    .boxelias {
        margin: 10%;
        background-color: blue;
        height: fit-content;
    }    

    .boxwerkstatt a {
        display: block;
        font-weight:lighter;
        font-size: 50px;    
        text-align: center;
        margin: auto auto;
        text-transform: uppercase;
        padding: 10%;
    }
    
    .boxtouren a {
        display: block;
        font-weight:lighter;
        font-size: 30px;    
        text-align: center;
        margin: auto auto;
        text-transform: uppercase;
        padding: 10%;
    }
    
    .boxmisc a {
        display: block;
        font-weight:lighter;
        font-size: 20px;    
        text-align: center;
        margin: auto auto;
        text-transform: uppercase;
        padding: 3%;
    }
    
    .boxwandhalterung a {
        display: block;
        font-weight:lighter;
        font-size: 40px;    
        text-align: center;
        margin: auto auto;
        text-transform: uppercase;
    }
    
    .boxbikes a {
        display: block;
        font-weight:lighter;
        font-size: 50px;    
        text-align: center;
        margin: auto auto;
        text-transform: uppercase;
        padding-top: 30%;
    }
    
    .boxelias a {
        display: block;
        font-weight:lighter;
        font-size: 30px;    
        text-align: center;
        margin: auto auto;
        text-transform: uppercase;
        padding: 10%;
    }


}


.sections h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100;
    line-height: 50px;
    padding-top: 120px;
    padding-bottom: 50px;
}

#werkstatt {
    background-color: darkblue;
    height: 50px;
}

#bikes {
    background-color: green;
    height: 50px;
}

#wandhalterung {
    background-color: darkred;
    height: fit-content;
    margin: 20px 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.headline {
    background-color: darkred;
}

.wandpic {
    width: 80%;
    padding-bottom: 30px;
}

.wandtext {
    width: 80%;
    font-weight: 100;
    padding-bottom: 50px;
    line-height: 26px;
}

 
#wandhalterung img {
    width: 100%;
}

#touren {
    color: black;
    height: fit-content;
    justify-content: space-evenly;
    margin: 20px 5%;
}

#touren h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100;
    line-height: 50px;
    padding-top: 120px;
    padding-bottom: 50px;
}

.Tourenpics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Tourenpics img {
    width: 30%;
}

.Texttouren {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Tourbox {
    width: 50%;
    height: 200px;  
    background-color: white;
    border: 2px solid red;
    margin: 50px 2%;
    padding: 15px;
    color: red;
    overflow: scroll;
}

.Tourliste {
    width: 50%;
    height: 200px;  
    background-color: red;
    margin: 10px 2%;
    padding: 15px;
    overflow: scroll;
}

.Tourliste ul {
    font-size: 18px;
    color: black;
    list-style-type: none;
    line-height: 26px;
}

@media only screen and (max-width: 800px) {
    
    .Tourenpics {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items:center;
    }
    
    .Tourenpics img {
        width: 85%;
        margin: 5%;
    }

    .Texttouren {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }

    .Tourbox {
        width: 80%;
        height: 200px;  
        background-color: white;
        border: 2px solid red;
        margin: 25px;
        padding: 15px;
        color: red;
        overflow: scroll;
    }
    
    .Tourliste {
        width: 80%;
        height: 200px;  
        background-color: red;
        margin: 10px 2%;
        padding: 15px;
        overflow: scroll;
    }
    
    .Tourliste ul {
        font-size: 18px;
        color: black;
        list-style-type: none;
        line-height: 26px;


}


#misc {
    background-color: gold;
    height: 50px;
}

#elias {
    background-color: blue;
    height: 50px;
}

#location {
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 5%;  
}

.textboxlocation {
    background-color: green;
    width: 50%;
    margin: 10px 2%;
    padding: 15px;
    font-size: 25px;
    font-weight: 100;
}

.map {
    width: 50%;
    margin: 10px 2%;
}

.map img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #location {
        height: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: 20px 10%;
        justify-content: center;
        align-items: center;
    }

    .textboxlocation {
        background-color: green;
        width: 100%;
        padding: 15px;
        font-size: 25px;
        font-weight: 100;
    }
    
    .map {
        width: 100%;
        margin: 10px 0;
    }
    
    .map img {
        width: 100%;
    }

}
